.comment {
	color: #0076ff;
	font-style: italic;
}

.preproc {
	color: #005915;
}

.keyword {
	color: #1515ff;
}

.text {
	color: #007f08;
}

/* Children of .preproc don't change the colour of the URL */

.preproc > a {
	text-decoration: none;
	color: #005915;
}

.preproc > a:visited {
	text-decoration: none;
	color: #005915;
}

.preproc > a:hover {
	text-decoration: underline;
	color: #005915;
}

/* Make the href's look nice */
a {
        text-decoration: none;
        color: red;
}
a:visited {
        text-decoration: none;
        color: red;
}
a:hover {
        text-decoration: underline;
        color: red;
}